body{
    background-color:darkkhaki;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding : 20px;
    background-color:darkslategray;
    color:white;
    border-radius: 10px;
    border-color:rgb(48, 48, 146);
}

div {
    margin: 20px 0;
}


p {
    font-size: 18px;
    color: #555;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    margin: 5px 0;
}

button {
    padding: 7px 12px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #307a33;
}

.correct {
    color: green;
    font-weight: bold;
    margin-left: 10px;
}

.incorrect {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

span {
    font-size: 16px;
}

#total p ,#score{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 7px;
    font-size: 20px;
    background-color: rgb(106, 131, 125);
    color: black;
    border-radius: 8px;
}
